@{
    ViewData["Title"] = "HomeYummy";
}
﻿@{
    Layout = "_LayoutYummy";
}

<!-- ======= Home Section ======= -->
<section id="home" class="hero d-flex align-items-center section-bg">
    <div class="container">
        <div class="row justify-content-between gy-5">
            <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
                <h2 data-aos="fade-up">Desfrute de comidas<br>deliciosas e saudáveis</h2>
                <p data-aos="fade-up" data-aos-delay="100">Receitas divertidas que proporcionam momentos saudáveis para seus filhos</p>

                <input type="text" id="userName" value="Luana" />
                <input type="text" id="userPassword" value="1234" />
                <button class="btn-book-a-table" onclick="autenticarUsuario()">Cadastre-se</button>

                <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                    <a href="https://youtu.be/XVBTcCPeDvY" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Assista o vídeo</span></a>
                </div>
            </div>
            <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
                <img src="~/Yummy/assets/img/mesa_frutas.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
            </div>
        </div>
    </div>
</section><!-- End Hero Section -->
<!-- ======= About Section ======= -->
<section id="sobre" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Sobre Nós</h2>
            <p>Saiba mais <span>Sobre nós</span></p>
        </div>

        <div class="row gy-4">
            <div class="col-lg-7 position-relative about-img" style="background-image: url(/Yummy/assets/img/background2.jpg); background-size: cover;" data-aos="fade-up" data-aos-delay="150">
            </div>
            <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
                <div class="content ps-0 ps-lg-5">
                    <p class="fst-italic">
                        A Yummy<span>Foods</span> tem como base os seguintes princípios:
                    </p>
                    <ul>
                        <li><i class="bi bi-check2-all"></i> Proporcionar dicas de alimentação saudável a todos, em especial às crianças;</li>
                        <li><i class="bi bi-check2-all"></i> Ajudar pais e cuidadores que se preocupam com o desenvolvimento de bons hábitos alimentares para as crianças;</li>
                        <li><i class="bi bi-check2-all"></i> Integrar pais e cuidadores a nutricionistas especializados em nutrição infantil e a pediatras.</li>
                    </ul>
                    <p>
                        A seguir temos um vídeo que demonstra a ideia:
                    </p>

                    <div class="position-relative mt-4">
                        <img src="~/Yummy/assets/img/picole2.jpg" class="img-fluid" alt="">
                        <a href="https://youtu.be/XVBTcCPeDvY" class="glightbox play-btn"></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<script type="text/javascript" src="~/js/jquery-3.3.1.min.js"></script>
<script src="~/js/home.js" asp-append-version="false"></script>
