@{
    ViewData["Title"] = "Mensagens";
}
@{
    Layout = "_LayoutYummy";
}
<!-- ======= MENSAGENS ======= -->
<br />
<section id="mensagens" class="book-a-table">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Mensagem</h2>
            <p>Envie <span>uma mensagem</span></p>
        </div>

        <div class="row g-0">

            <div class="col-lg-4 reservation-img" style="background-image: url(/Yummy/assets/img/smoothie.jpg); background-size: cover; " data-aos="zoom-out" data-aos-delay="200"></div>

            <div class="col-lg-8 align-items-center reservation-form-bg">
                <form action="EnviarMensagem" method="post" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
                    <div class="row gy-4">
                        <div class="col-lg-12 col-md-6 pb-3">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Seu nome" data-rule="minlen:4" data-msg="Digite pelo menos 4 caracteres.">
                            <div class="validate"></div>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" name="message" rows="10" placeholder="Digite uma mensagem"></textarea>
                        <div class="validate"></div>
                    </div>
                    <div class="mb-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">A sua mensagem foi enviada com sucesso!</div>
                    </div>
                    <div class="text-center"><button type="submit">Enviar</button></div>
                </form>
            </div>

        </div>

    </div>
</section>