@model UsuarioViewModel
@{
    ViewData["Title"] = "Login";
}
﻿@{
    Layout = "_LayoutLogin";
}

<link href="~/css/login.css" rel="stylesheet">

<h3 class="text-center mb-4">Login</h3>

<div class="form-group">
    <input type="text" asp-for="Nome" class="form-control rounded-left" placeholder="Nome de Usuário" required>
    <div class="validate"></div>
</div>
<div class="form-group d-flex">
    <input type="password" asp-for="Senha" class="form-control rounded-left" placeholder="Senha" required>
    <div class="validate"></div>
</div>
<div class="form-group">
    <button onclick="autenticarUsuario()" class="form-control btn btn-book-a-table rounded submit px-3 ml-0" style="font-size:18px;background: rgba(206, 18, 18, 0.8);">Login</button>
</div>
<div class="form-group d-md-flex">
@*    <div class="w-50 text-md-left">
        <a href="cadastro">Cadastre-se</a>
    </div>*@
</div>


<script type="text/javascript" src="~/js/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/js/login.js" asp-append-version="false"></script>