@model List<UsuarioViewModel>

@{
    ViewData["Title"] = "Usuarios";
    Model.ToArray();
}

@{
    Layout = "_LayoutYummy";
}
<!-- ======= Posts ======= -->
<br />
<section id="conexoes" class="chefs section-bg">
    <div class="container" data-aos="fade-up">
        <link rel="stylesheet" href="~/css/conexoes.css" />
        <div class="section-header">
            <p><span>Encontre novos pais e nutricionistas!</span></p>
        </div>

        <div class="row gy-4" id="listaUsuarios">

            @foreach (var usuario in Model)
            {
                <div id=@usuario.Nome class="col-lg-2 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="chef-member">
                        <div class="member-img">
                            <img src="~/img/user.jpg" class="img-fluid" alt="">
                        </div>

                        <div class="member-info">
                            <h4>@usuario.Nome</h4>
                            <span>@usuario.DescricaoTipo</span>
                        </div>

                        <div class="col-sm-4 member-info amigos"> 
                            <img id="amei" src="~/img/heart.png" class="img-fluid" alt="">
                        </div>

                    </div>
                </div>
            }
        </div>

    </div>
</section>

<script type="text/javascript" src="~/js/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/js/conexoes.js" asp-append-version="false"></script>